/** HTML and body code to remove line on the right side of the page **/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/** Body background colour, text color and margin top **/
body {
    background: rgb(34, 10, 10);
    color: #333333;
    margin-top: 5rem;
    }

/** Text color **/
h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

/** Background colour for navigation bar **/
.bg-steel {
    background-color: #a73737;

}

/** Navigation bar text colour, fonts + uppercase letters and padding **/
.site-header .navbar-nav .nav-link {
    color: #fffbfa;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 40px;
    font-weight: 650;
    font-size: 16px;
    text-transform: uppercase !important;

}

/** Navigation hover colour **/
.site-header .navbar-nav .nav-link:hover {
    color : #fdc7c7;

}

/** Font weight of navigation bar **/
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

/** Content section of website background colour, padding, border, margin, fonts and colours**/
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase !important;
    font-weight: 650;
    font-size: 16px;
    color: #333333;
}

/**  **/
.content-section h3 {
    font-size: 30px;
    font-weight: 700;  
    
}

/** **/
.content-section a{
    text-decoration: none;
    color: #333333;
}

/** **/
.content-section a:hover{
    color:#a73737
}

/** **/
.text-muted {
    color: #fffbfa !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase !important;
    font-weight: 700;
}

/** **/
.ml-2{
    color: #a73737 !important;
    text-decoration: none !important;
}

/** **/
.btn-sm{
    background-color: transparent;
    color: #fffbfa;
}

/** **/
.btn-danger:hover{
    color: #fffbfa;
}

/** **/
a.btn.btn-secondary.btn-sm.mt-1.mb-1:hover{
    color: #fffbfa !important;
    background-color: #333333 !important;
}

/** **/
.ml-2:hover{
    color:#fffbfa !important;
}

/** **/
.btn-secondary{
    color: #333333 !important;
}

/** **/
.article-title {
    color: #333333;
}

/** **/
a.article-title:hover {
    color: #a73737;
    text-decoration: none;
}

/** **/
.article-content {
    white-space: pre-line;
}

/** **/
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

/** **/
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4;
    border-bottom: 1px solid #e3e3e3
}

/** **/
.article-metadata a:hover {
    color: #a73737;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.background img{
    position: relative;
    width: 100%;
    display: block;
    height: auto;
}

.html{
    background: #393939;
}

.btn{
    color: #a73737;
}

.btn-outline-info{
    border-color: #a73737 !important;
} 

.btn:hover{
    background-color: #a73737 !important;
}

.btn-info{
    background-color: transparent;
    border-color: #a73737;
    color: white;
}

.btn.info:hover{
    border-color: #a73737 !important;
}

.footer{
    height: auto;
    width: 100vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase !important;
    color: #fffbfa;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 15px;
    border-radius: 12px;
    line-height: 24px;
}

.footer h3{
    color: #fffbfa !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 16px !important;
    letter-spacing: 2px !important;
    margin-top: 5px !important;
    font-size: 20px !important;
}

.footer-links a:hover{
    color: #a73737;
}

/** Footer paragraph font, font colour, font size and letter spacing **/
.footer p{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 13.5px;
    letter-spacing: 1.25px;
}

/** Footer link font, font colour, font size and letter spacing **/
.footer a{
    color: rgb(189, 189, 189);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

/** Footer hover colour for links **/
.footer a:hover{
    color: #e2e2df;
    text-decoration: none;
}

/** Footer remove bullet points and text padding **/
.footer-links {
    list-style: none;
    padding-left: 20px;
}

/** Footer links displayed as a block **/
.footer-links li{
  display: block;
  margin: 10px;
}

.footer-links a{
    color: #fffbfa;
}

.footer-links a:hover{
    color: #a73737;
}

.links {
    padding-left: 150px;
}

.background{
    color: #fffbfa;
    text-transform: uppercase !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.information{
    color: #e2e2df !important;
    margin: 0 auto;
    padding-top: 20px;
}


.information.content-section{
    width: 250px;
    height: 300px;
    background-color: white;
    float: left;

}

.information h1{
    color: #fffbff !important;
    text-transform: uppercase !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.information h4{
    color: #fffbff !important;
    text-transform: uppercase !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.information p{
    color: #fffbfa !important;
}

