<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Title of website -->
  <title>Posts</title>
</head>
<!-- Extends to layout.html -->
{% extends "layout.html" %}
<!-- Override previous (child) templates -->
{% block content %}
<!-- Post content section -->
<article class="media content-section">
  <!-- Profile picture -->
  <img class="rounded-circle article-img"
    src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="pfp">
    <!-- Post information -->
  <div class="media-body">
    <div class="article-metadata">
      <!-- Author username -->
      <a class="mr-2" href="#">{{ post.author.username }}</a>
      <!-- Date posted -->
      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      {% if post.author == current_user %}
      <div>
        <!-- Buttons-->
        <!-- Update button -->
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
        <!-- Delete button -->
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
          data-target="#deleteModal">Delete</button>
      </div>
      <!-- End form -->
      {% endif %}
    </div>
    <!-- Post title -->
    <h2 class="article-title">{{ post.title }}</h2>
    <!-- Post content -->
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <!-- Delete post -->
        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
        <!-- Delete post button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal footer-->
      <div class="modal-footer">
        <!-- Close Button -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
          <!-- Confirm button to delete -->
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End of template -->
{% endblock content %}

</html>