<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Title of website -->
    <title>Reset Request</title>
</head>
<!-- Extends to layout.html -->
{% extends "layout.html" %}
<!-- Override previous (child) templates -->
{% block content %}
<!-- Start of content section -->
<div class="content-section">
    <form method="POST" action="#">
        <!-- Generates hidden field -->
        {{ form.hidden_tag() }}
        <!-- Form -->
        <fieldset class="form-group">
            <!-- Button -->
            <legend class="border-bottom mb-4">Reset Password</legend>
            <!-- Form -->
            <div class="form-group">
                <!-- Email form -->
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                <!-- Email invalid input -->
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    <!-- Email invalid feedback -->
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    <!-- End form -->
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <!-- Form -->
        <div class="form-group">
            <!-- Button form -->
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<!-- End of template -->
{% endblock content %}

</html>