<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Title of website -->
    <title>Reset Token</title>
</head>
<!-- Extends to layout.html -->
{% extends "layout.html" %}
<!-- Override previous (child) templates -->
{% block content %}
<!-- Start of content section -->
<div class="content-section">
    <form method="POST" action="#">
        <!-- Generates hidden field -->
        {{ form.hidden_tag() }}
        <!-- Form -->
        <fieldset class="form-group">
            <!-- Reset Password text -->
            <legend class="border-bottom mb-4">Reset Password</legend>
            <!-- Form -->
            <div class="form-group">
                <!-- Password form -->
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                <!-- Password invalid input -->
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    <!-- Password invalid feedback -->
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    <!-- End form -->
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- Form -->
            <div class="form-group">
                <!-- Confirm password form -->
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                <!-- Confirm password invalid input -->
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    <!-- Confirm password invalid feedback -->
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    <!-- End form -->
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <!-- Form -->
        <div class="form-group">
            <!-- Button form -->
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<!-- End of template -->
{% endblock content %}

</html>